
/* Color Pallete 
#0F142B-Main Page Background Color
000831-possible swap to*/

header {
    background-color: #0e0312;
    box-shadow: 0px 0px 20px rgb(70, 31, 177);
    height: 100px;
}
.navbar {
    width: 95%;
    height: auto;
    margin: auto;
}
nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-top: 5px;
    display: inline-block;
    margin-left: 60px;
    padding-top: 5.5%;
}

nav a {
    font-family: "Merriweather Sans", sans-serif;
    color: #f1eded;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    position: relative;
}
nav a:hover::before {
    content: ""; 
    position: absolute;
    left: -15px; 
    top: -15px; 
    right: -15px; 
    bottom: -15px; 
    border: 2px solid #f4f6f2; 
    border-radius: 5px; 
}


.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(70, 31, 177);
    padding: 50px;
    color: white;
    text-align: center;
  }

main{
    background-color:#000831;
    color: white;
    display:inline-block;
    width:100%;
    padding-bottom: 100px;
}

#title-home{
    font-size: 80px;
    margin-bottom:0px;
    margin-left: 45px;
    font-family: "bebas neue";
    text-shadow: 3px 3px rgb(185, 127, 185);

}
#subtext{
    font-size: 30px;
    width: 800px;
    margin-top:0px;
    margin-left:45px;
    font-family:"Montserrat";
}
.home-boxes{
    width: 400px;
    height: 300px;
    background-color:white;
    color: black;
    margin-left: 120px;
    margin-right: 100px;
    margin-top:100px;
    display:inline-block;
    font-family:"Bebas Neue";
    font-size:35px;
    color:Black;
    text-align: center;
    text-shadow: 2px 2px rgb(185, 127, 185);
}
#box1{
    background-image:image-set("images-sports/");
    background-position: center;
    /* background-image: url("images-sports/download-3.jpg"); */
}

#box2{
    background-image:no-repeat;
    background-position: center;
    background-image: url("images-songs/TPAB.jpg");
}

#box3{
    background-image:no-repeat;
    background-image: url("images-game/valorant.jpg");
}

/* .play-button{
    width:150px;
    color: purple;
} */
