* {
    margin:0;
    padding: 0;
  }
  /*Navigation bar*/
  header {
      background-color: #0e0312;
      box-shadow:rgb(70, 31, 177);
      height: 100px;
  }
  .navbar {
      width: 95%;
      height: auto;
      margin: auto;
  }
  nav {
      float: right;
  }
  
  nav ul {
      margin: 0;
      padding: 0;
      list-style: none;
  }
  
  nav li {
      margin-top: 5px;
      display: inline-block;
      margin-left: 60px;
      padding-top: 5.5%;
  }
  
  nav a {
      font-family: "Merriweather Sans", sans-serif;
      color: #f1eded;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 20px;
      position: relative;
  }
  nav a:hover::before {
      content: ""; 
      position: absolute;
      left: -15px; 
      top: -15px; 
      right: -15px; 
      bottom: -15px; 
      border: 2px solid #f4f6f2; 
      border-radius: 5px; 
  }
  
  /*navigation bar codes end*/
  
  /*variables*/
  :root {
    --fontOne:'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  /*variables end*/
  
  /*body*/
  body{
    height: 100vh;
    width:100%;
    align-items: center;
    flex-wrap: wrap;
    font-family: var(--fontOne);
  }
  
  /*main*/
  main{
      background-color:#000831 ;
  }
  /*main ends*/
  
  /*Slideshow/carousel*/
  * {box-sizing:border-box}
  
  /* Slideshow container */
  .slideshow-container {
    max-width: 600px;
    max-height: 400px;
    position: relative;
    left: 500px;
    top: -250px;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    left: 500px;
    top: -250px;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  /*slideshow/carousel code ends*/
  
  /*h2 tags for netflix sliders*/
  
  .titlesection{
    padding-top: 3%;
    color:#e5e5e5;
    font-family: var(--fontOne);
  }
  .title{
    font-size: 24px;
    line-height: 14px;
    font-weight: 500;
    margin: 0 4% 12px; 
    position:absolute;
    top: 60vh;
  }
  /*h2 tags for netflix sliders end */
  
  /* netflix carousel*/
  .netflix{
    height: 30vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
  }
  .netflix-carousel{
    height: 250px;
    width: 80%;
    position: relative;
    margin-top: -500px;
  }
  .netflix-carousel .switchleft, .netflix-carousel .switchright{
    color: white;
    font-weight: bold;
    height: 100%;
    width: 45px;
    line-height: 250px;
    font-size: 25px;
    text-align: center;
    background-color: rgb(37, 5, 110);
    font-family: sans-serif;
    top: 0;
    z-index: 3;
  }
  
  .netflix-carousel .switchleft{
    position: absolute;
    left: -50px;
  
  }
  
  .netflix-carousel  .switchright{
    position: absolute;
    right: -50px;
   
  }
  .netflixcarouselbox{
    height: 250px;
    width: auto;
    overflow:scroll;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
  
    padding-bottom: 10px !important;
    display: flex;
    align-items: center;
    
  }
  .netflixcarouselbox img{
    min-width: 147px;
    max-width: 147px;
    height: 200px;
    background-size: cover;
    background-color: lightgreen;
    margin: 5px 10px;
    cursor: pointer;
    transition: 0.5s ease;
    z-index: 2;
  
  }
  .netflixcarouselbox img:hover{
    transform: scale(1.4);
    z-index: 5;
  }
  
  
  /*footer*/
  .footer {
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: rgb(70, 31, 177);
      width:2064px;
      color: white;
      text-align: center;
    }
  /*footer ends*/
.logo {
    width: 200px;
    height: auto;
    margin-left: 20px;
    margin-top: 25px;
    float: left;
    box-shadow: 0px 0px 20px 8px rgb(56, 2, 138);
}
#title-sports{
    font-size: 80px;
    margin-bottom:0px;
    font-family: "bebas neue";
    margin-left: 150px;
    margin-top: 70px;

}
.subtext-sports{
    font-size: 30px;
    width: 800px;
    margin-top:0px;
    margin-left:150px;
    font-family:"Montserrat";
}
