 /*Navigation bar*/
 header {
    background-color: #0e0312;
    height: 90px;
    position:fixed;
    width: 100%;
    box-shadow:0px 0px 20px 6px rgb(167, 41, 210);
    top:-7px;
}
.navbar {
    width: 95%;
    height: 80px;
    margin: auto;
}
nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-top: 5px;
    display: inline-block;
    margin-left: 60px;
}

nav a {
    font-family: "Merriweather Sans", sans-serif;
    color: #f1eded;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 19px;
    position: relative;
}
nav a:hover::before {
    content: ""; 
    position: absolute;
    left: -15px; 
    top: -15px; 
    right: -15px; 
    bottom: -15px; 
    border: 2px solid #f4f6f2; 
    border-radius: 5px; 
}
.logo {
    width: 200px;
    height: auto;
    margin-left: 20px;
    margin-top: 25px;
    float: left;
    box-shadow: 0px 0px 20px 8px rgb(56, 2, 138);
}