main{
    background-color:#170021;
    color: white;
    /* display:inline-block; */
    width:100%;
}
body{
    height: 100vh;
    width:100%;
    align-items: center;
    flex-wrap: wrap;
    font-family: var(--fontOne);
    background-color:#170021;
}

h1{
    font-size: 100px;
    margin-bottom:0px;
    margin-left: 100px;
    font-family: "bebas neue";
    margin-top: 100px;

}
#paragraph{
    font-size: 35px;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:100px;
    font-family:"Montserrat";
    width:800px;
}
* {
    margin:0;
    padding: 0;
  }
  
  /*variables*/
  :root {
    --fontOne:'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  /*variables end*/
  
  /*body*/
  body{
    height: 100vh;
    width:100%;
    align-items: center;
    flex-wrap: wrap;
    font-family: var(--fontOne);
  }
  
  /*Slideshow/carousel*/
  * {box-sizing:border-box}
  
  /* Slideshow container */
  .slideshow-container {
    max-width: 750px;
    position: relative;
    margin: auto;
    left: 450px;
    bottom:250px;
  }
  #dotties{
    position: relative;
    text-align: center;
    left:450px;
    bottom:250px;
    margin-bottom: 0px;
  }
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  /*slideshow/carousel code ends*/
  
  /*h2 tags for netflix sliders*/
  
  .titlesection{
    padding-top: 3%;
    color:#e5e5e5;
    font-family: var(--fontOne);
  }
  .title{
    font-size: 24px;
    line-height: 14px;
    font-weight: 500;
    margin: 0 4% 12px; 
    margin-left: 100px;
    margin-bottom: 60px;
  }
  /*h2 tags for netflix sliders end */
  
  /* netflix carousel*/
  .netflix{
    height: 30vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top:0px;
  }
  .netflix-carousel{
    height: 250px;
    width: 80%;
    position: relative;
    bottom: 200px;
  }
  .netflix-carousel .switchleft, .netflix-carousel .switchright{
    color: white;
    font-weight: bold;
    height: 100%;
    width: 45px;
    line-height: 250px;
    font-size: 25px;
    text-align: center;
    background-color: #7B6386;
    font-family: sans-serif;
    top: 0;
    z-index: 3;
  }
  
  .netflix-carousel .switchleft{
    position: absolute;
    left: -50px;
  }
  
  .netflix-carousel  .switchright{
    position: absolute;
    right: -50px;
   
  }
  .netflixcarouselbox{
    height: 250px;
    width: auto;
    overflow:scroll;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px !important;
    display: flex;
    align-items: center;
    
  }
  .netflixcarouselbox img{
    min-width: 200px;
    max-width: 200px;
    height: 200px;
    background-size: cover;
    background-color: lightgreen;
    margin: 5px 10px;
    cursor: pointer;
    transition: 0.5s ease;
    z-index: 2;
  
  }
  .netflixcarouselbox img:hover{
    transform: scale(1.4);
    z-index: 5;
  }
  
  
  /*footer*/
  .footer {
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: rgb(70, 31, 177);
      padding: 50px;
      width:2064px;;
      color: white;
      text-align: center;
    }
  /*footer ends*/
/* 
.slides{
    width:100%;
}

.slides-container{
    align-items: center;
    display: flex;
    height: 400px;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
}

.slide-item{
    height:200px;
    opacity:0;
    position:absolute;
    transition: all 0.3s ease-in-out;
    width:330px;
    z-index: 0;
    border-radius: 15px;
    background-size: contain;
}

.slide1{
    left:15%;
    opacity:0.4;
    transform: translateX(-50%);
}
.slide2, .slide4{
    height: 250px;
    opacity: 0.8;
    width:380px;
    z-index:1;
}
.slide2{
    left: 30%;
    transform: translate(-50%);
}
.slide3{
    box-shadow: -2px 5px 33px 6px rgba(0,0,0,0.35);
    height: 300px;
    opacity: 1;
    left:50%;
    transform: translate(-50%);
    width:430px;
    z-index: 2;
}

.slide4{
    left: 70%;
    transform: translate(-50%);
}

.slide5{
    left: 85%;
    opacity: 0.4;
    transform: translate(-50%);
}

.slide-arrows{
    display:flex;
    justify-content: center;
    margin: 25px 0;
    height: 100px;
}
.slide-arrows button{
    background-color: transparent;
    border:0;
    cursor: pointer;
    font-size: 30px;
    margin: 0 50px;
    padding: 0 12px;
    text-transform: capitalize;
}

slides-arrows-button:focus{
    outline:none;
}
.slides-arrows-previous{
    position: relative;
}
.slides-arrows-previous::before{
    border: solid #000;
    border-width: 0 5px 5px 0;
    content: '';
    display: inline-block;
    height:5px;
    left: -30px;
    padding: 10px;
    position: absolute;
    top: 25%;
    transform: rotate(135deg) translateY(-50%);
    transition: left 0.15s ease-in-out;
    width:5px;
}
.slides-arrows-previous:hover::before{
    left: -40px;
}
.slides-arrows-next{
    position: relative;
}
.slides-arrows-next::before{
    border: solid #000;
    border-width: 0 5px 5px 0;
    content: '';
    display: inline-block;
    height:5px;
    right: -30px;
    padding: 10px;
    position: absolute;
    top: 45%;
    transform: rotate(-45deg) translateY(-50%);
    transition: left 0.15s ease-in-out;
    width:5px;
}
.slides-arrows-next:hover::before{
    right: -40px;
}

.slides-nav{
    bottom:-15px;
    display:flex;
    justify-content: center;
    list-style: none;
    padding:0;
    position:absolute;
    width:100%;
}

.slides nav li{
    background:#000;
    border-radius:50%;
    height: 10px;
    width: 10px;
    margin: 0 16px;
}
.slides-nav li.slide-item{
    background:#555;
}

 */

/* .front-slide{
    position:relative;
    width:750px;
    height:292px;
    border-radius:50px;
    margin:115px auto 0;
}

.front-slide > .slide-prev,
.front-slide > .slide-next{
    position:absolute;
    top: 50%;
    width:40px;
    height:40px;
    margin-top:-20px;
    border-radius: 50px;
    line-height: 40px;
    text-align:center;
    cursor:pointer;
    background-color:white;
    color:black;
    transition:all 0.7s;
    font-size: 20px;
    font-weight:bold;
}

.front-slide > .slide-next:hover,
.front-slide > .slide-next:hover{
    opacity:1;
    background-color: white;

}
.front-slide > .slide-prev{
    left:59px;
}
.front-slide > .slide-next::before{
    content: '>';
}
.front-slide > .slide-next{
    right:-59px;
}
.front-slide > .slide-prev::before{
    content: '<';
}

.front-slide > ul{
    list-style: none;
    position: relative;
    width: 754px;
    height:292px;
    margin:0;
    padding:0;
}

.front-slide >ul>li{
    overflow: hidden;
    position:absolute;
    z-index: 0;
    left: 377px;
    width: 0;
    height: 0;
    top:147px;
    margin:0;
    padding:0;
    border: 3px solid white;
    background-color:#333;
}

.front-slide > .ul>li>img{
    width: 100%;
    height: 100%;
    background-position:center;
} */